h1{
    text-align: center;
    margin-top: 5%;
    color: rgb(17, 62, 17);
}
#box1{
    background-color: #F4B01D;
    width: 20%;
    margin-top: 4%;
    transition: transform 350ms ease-in-out;
    margin-left: 2%;
    border-radius: 20px;
    padding-top: 300px;
  }
  #box1:hover{
    transform: scale(0.9);
  }

.cake{
    margin-top: -110%;
    margin-left: 9%;
  }
  #text-1{
    text-align: center;
    margin-top: 12%;
    padding-bottom: 4%;
    font-size: 16px;
    color: #000;
  }

  #box2{
    background-color: #F4B01D;
    width: 20%;
    transition: transform 350ms ease-in-out;
    margin-left: 27%;
    margin-top: -30%;
    border-radius: 20px;
    padding-top: 300px;
  }
  #box2:hover{
    transform: scale(0.9);
  }

.cake2{
    margin-top: -110%;
    margin-left: 9%;
  }
  #text-2{
    text-align: center;
    margin-top: 12%;
    padding-bottom: 4%;
    font-size: 16px;
    color: #000;
  }
  #box3{
    background-color: #F4B01D;
    width: 20%;
    transition: transform 350ms ease-in-out;
    margin-left: 52%;
    margin-top: -30%;
    border-radius: 20px;
    padding-top: 300px;
  }
  #box3:hover{
    transform: scale(0.9);
  }

.cake3{
    margin-top: -110%;
    margin-left: 9%;
  }
  #text-3{
    text-align: center;
    margin-top: 12%;
    padding-bottom: 4%;
    font-size: 16px;
    color: #000;
  }
  #box4{
    background-color: #F4B01D;
    width: 20%;
    transition: transform 350ms ease-in-out;
    margin-left: 77%;
    margin-top: -30%;
    border-radius: 20px;
    padding-top: 300px;
  }
  #box4:hover{
    transform: scale(0.9);
  }

.cake4{
    margin-top: -110%;
    margin-left: 9%;
  }
  #text-4{
    text-align: center;
    margin-top: 12%;
    padding-bottom: 4%;
    font-size: 16px;
    color: #000;
  }
  .button-1{
    margin-left: 7%;
    text-decoration: none;
  }
  .button-2{
    margin-left: 32%;
    
  }
  .button-3{
    margin-left: 57%;
    
  }
  .button-4{
    margin-left: 83%;
    
  }

  /* .order{
    margin-left: 7.2%;  
    
  } */
  /* .button-1{
    background-color: #F4B01D;
  } */