<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cakes.component.css">
</head>
<body>
    <h1>Cakes</h1>

       <div id="box1">
        <div class="cake">
        <img src="../assets/images/pic1.jpeg" height="200px" width="200px" style="margin-right: 10px;  border-radius: 20px;"></div>
        <p id="text-1">Vanilla Cake <br>1KG <br>2000 Ksh</p></div>
        <div class="button-1">
        <button id="text" style="background-color: #b37b04; border: none; height: 30px; width: 10%; border-radius: 10px; text-decoration: none;">
        <a routerLink="/login" style="text-decoration: none; color:#fff;">Order</a></button></div>
        
        
        <div id="box2">
        <div class="cake2">
        <img src="../assets/images/creamy chocolate.jpg" height="200px" width="200px" style="margin-right: 10px;  border-radius: 20px;"></div>
        <p id="text-2">Creamy chocolate Cake <br>1KG <br>2200 Ksh</p></div>
        <div class="button-2">
        <a href="app-login">
        <button id="text" style="background-color: #b37b04; border: none; height: 30px; width: 15%; border-radius: 10px;">
        <a routerLink="/login" style="text-decoration: none; color:#fff;">Order</a></button></a></div>

        <div id="box3">
        <div class="cake3">
        <img src="../assets/images/chocolate.jpg" height="200px" width="200px" style="margin-right: 10px;  border-radius: 20px;"></div>
        <p id="text-3">Chocolate Cake <br>1KG <br>2200 Ksh</p></div>
        <div class="button-3">
        <a href="app-login">
        <button id="text" style="background-color: #b37b04; border: none; height: 30px; width: 23%; border-radius: 10px;">
        <a routerLink="/login" style="text-decoration: none; color:#fff;">Order</a></button></a></div>

        <div id="box4">
        <div class="cake4">
        <img src="../assets/images/lemon.jpg" height="200px" width="200px" style="margin-right: 10px;  border-radius: 20px;"></div>
        <p id="text-4">Lemon Cake <br>1KG <br>2200 Ksh</p></div>
        <div class="button-4">
        <a href="app-login">
        <button id="text" style="background-color: #b37b04; border: none; height: 30px; width: 55%; border-radius: 10px;">
        <a routerLink="/login" style="text-decoration: none; color:#fff;">Order</a></button></a></div>
    
        <div id="box1">
            <div class="cake">
            <img src="../assets/images/pic1.jpeg" height="200px" width="200px" style="margin-right: 10px;  border-radius: 20px;"></div>
            <p id="text-1">Vanilla Cake <br>1KG <br>2000 Ksh</p></div>
            <div class="button-1">
            <button id="text" style="background-color: #b37b04; border: none; height: 30px; width: 10%; border-radius: 10px; text-decoration: none;">
            <a routerLink="/login" style="text-decoration: none; color:#fff;">Order</a></button></div>
            
            
            <div id="box2">
            <div class="cake2">
            <img src="../assets/images/creamy chocolate.jpg" height="200px" width="200px" style="margin-right: 10px;  border-radius: 20px;"></div>
            <p id="text-2">Creamy chocolate Cake <br>1KG <br>2200 Ksh</p></div>
            <div class="button-2">
            <a href="app-login">
            <button id="text" style="background-color: #b37b04; border: none; height: 30px; width: 15%; border-radius: 10px;">
            <a routerLink="/login" style="text-decoration: none; color:#fff;">Order</a></button></a></div>
    
            <div id="box3">
            <div class="cake3">
            <img src="../assets/images/chocolate.jpg" height="200px" width="200px" style="margin-right: 10px;  border-radius: 20px;"></div>
            <p id="text-3">Chocolate Cake <br>1KG <br>2200 Ksh</p></div>
            <div class="button-3">
            <a href="app-login">
            <button id="text" style="background-color: #b37b04; border: none; height: 30px; width: 23%; border-radius: 10px;">
            <a routerLink="/login" style="text-decoration: none; color:#fff;">Order</a></button></a></div>
    
            <div id="box4">
            <div class="cake4">
            <img src="../assets/images/lemon.jpg" height="200px" width="200px" style="margin-right: 10px;  border-radius: 20px;"></div>
            <p id="text-4">Lemon Cake <br>1KG <br>2200 Ksh</p></div>
            <div class="button-4">
            <a href="app-login">
            <button id="text" style="background-color: #b37b04; border: none; height: 30px; width: 55%; border-radius: 10px;">
            <a routerLink="/login" style="text-decoration: none; color:#fff;">Order</a></button></a></div>
        
    
</body>
</html>
