<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar"> 
        <a href="#contact">Contact</a>
        <a href="#cake">Cakes</a>
        <a href="#video">Home</a>
<div class="dropdown">
<button class="dropbtn">More</button>       
<div class="dropdown-content">
        <a href="#"><a routerLink="/pizza" style="text-decoration: none; color:#000;">Pizza</a></a>
        <a href="#">Cinnamon Rolls</a>
        <a href="#">Cupcakes</a>
        <a href="#">Chocolate marbles</a>
        <a href="#">Swiss Rolls</a>
</div>
</div> 
</div>
<div class="logo">Ladida Sweetens</div>
<div class="image-logo">
  <img src="../assets/images/ladida.png" height="50px">
</div>
</body>
</html>