.navbar {
    overflow: hidden;
    background-color: #4EA218;
    height: 70px;
  }
  
  .navbar a {
    float: right;
    font-size: 20px;
    color: white;
    padding: 19px 22px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px; 
    border: none;
    outline: none;
    color: white;
    padding: 21px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #82A284;
    padding: 24px ;
  
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .logo{
    background: linear-gradient(
    to top, #FFFFFF 50%,
    #E4AEC5 50%);
    font-size: 25px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: -2.4%;
    margin-left: 3%;
   }
   .image-logo{ 
    margin-left: 8%;
    margin-top: -5%;
   
   }
   input{
    padding-left: 1%;
     margin-left: 34%;
     margin-top: 4%;
     height: 25px;
     width:30%;
   
     }   
 
.search-bar .btn{
     margin-left: 66%;
      
     color: #213346; 
 }