<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="pizza.component.css">
</head>
<body>
    <h1>Pizza</h1>
    <section>
        <div class="content">
            <h3>Enjoy the taste in it!</h3>
            <h3>Enjoy the taste in it!</h3>
        </div>
      </section>

        <section class="pizza-images">
        <div class="pizza1">
        <img src="../assets/images/pizza4.jpg" height="200px" width="200px" style="border-radius: 100%;">
       </div><p class="text1"> Chicken pizza <br> <span class="text1-price">400</span></p>

        <div class="pizza2">
        <img src="../assets/images/pizza3.jpg" height="200px" width="200px" style="border-radius: 100%;">
        </div><p class="text2"> Chicken pizza <br> <span class="text2-price">400</span></p>

        <div class="pizza3">
        <img src="../assets/images/pizza6.jpeg" height="200px" width="200px" style="border-radius: 100%;"></div>

        <div class="pizza4">
        <img src="../assets/images/pizza.jpg" height="200px" width="200px" style="border-radius: 100%;"></div>

        <div class="pizza5">
        <img src="../assets/images/pizza1.webp" height="200px" width="200px" style="border-radius: 100%;"></div>
        </section>

        
    

</body>
</html>
