<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>

    <div class="video">
      <iframe width="1245" height="400" src="https://www.youtube.com/embed/ypslpdbdaV8"
       title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         <div class="container">
                <h2 class="title">
                  <span class="title-word title-word-1">Ladida Sweetens, </span>
                  <span class="title-word title-word-2">We Satisfy </span>
                  <span class="title-word title-word-3">Your </span>
                  <span class="title-word title-word-4">Cravings</span>
                </h2>
              </div>         
    </div>



    <app-cakes></app-cakes>

</body>
</html>
